<% content_for :title, "Editing task" %>

<div class="page edit">

  <h1>Edit Task</h1>

  <%= render "form", task: @task %>

  <div class="delete-cancel-row">
    <%= button_to "Delete Task", @task, method: :delete, class: "delete" %>
    <%= link_to "Cancel", tasks_path, class: "cancel" %>
  </div>

</div>