<% content_for :title, "Editing task" %>

<div class="page edit">

  <h1>Editing task</h1>

  <%= render "form", task: @task %>

  <br>

  <%= button_to "Destroy this task", @task, method: :delete %>

  <div>
    <%= link_to "Back to tasks", tasks_path %>
  </div>

</div>