<% content_for :title, "Tasks" %>

<div class="page show">

  <h1>Tasks</h1>

  <ul class="task-container" id="tasks">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </ul>

  <%= link_to new_task_path, class: "link new-task" do %>
    <i class="fa-solid fa-plus"></i>
    <div>New Task</div>
  <% end %>

</div>