.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 250px;
  gap: 12px;
}

.task-name-field {
  display: flex;
  flex-direction: column;
  color: var(--accent-light);
  font-size: 16px;
  gap: 6px;
}

.text-input {
  border: none;
  background-color: var(--accent-light);
  color: var(--text);
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 4px;
}

.submit-container {
  display: flex;
}

.submit-container * {
  background-color: var(--main-dark);
  color: white;
  border-radius: 10px;
  padding: 8px;
  flex-grow: 1;
  cursor: pointer;
  border: none;
  border: 1px solid var(--main-dark);
}

.submit-container *:hover {
  border: 1px solid white;
}

.submit-container *:active {
  background-color: #b83e4e;
}

.priority-container {
  background-color: var(--accent-light);
  border-radius: 10px;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.priority-check-box {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.priority-check-box > * {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.priority-check-box > * {
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.priority-check-box * {
  cursor: pointer;
}