.header {
  background-color: var(--main-dark);
  height: 60px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-brand {
  color: var(--accent-light);
  font-size: 36px;
  font-weight: bold;
}