.list-item {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--main-light);
}

.task-label-container {
  display: flex;
  gap: 8px;
}

.task-label {
  font-size: 10px;
  border-radius: 1em;
  padding: 4px 8px;
  letter-spacing: 1px;
  border: none;
}

.task-label.urgent {
  background-color: var(--main-dark);
  color: white;
}

.task-label.important {
  background-color: var(--accent-dark);
  color: white;
}

.not-urgent,
.not-important {
  border: none;
  background-color: var(--accent-light);
  color: var(--accent-light);
}

.task-container {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.list-item > .link {
  color: var(--text);
  flex-grow: 1;
}

.link.new-task {
  display: flex;
  gap: 4px;
  background-color: var(--main-dark);
  padding: 6px;
  border-radius: 24px;
}

.link.new-task > * {
  color: white;
}

.complete-button {
  width: 16px;
  height: 16px;
  border: 1px solid var(--text);
  background-color: var(--accent-light);
  border-radius: 50%;
}

.complete-button:hover,
complete-button:active {
  /*
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='14' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%2363E6BE' d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E");
  */
  background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%232a363b' d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
  border: none;
}

.page.show > h1 {
  margin: 0;
  padding: 6px;
}